<%- include("partials/top.ejs",{user}) %>

<h1>Welcome to BankApp</h1>
<% if (!user?.fullName){ %>
    <div class="row mt-5">
        <div class="col-6">
            <h3>Register</h3>
            <form action="/auth/register" method="post">
                <input type="text" class="form-control mb-2" name="fullName" placeholder="Ful name">
                <input type="email" class="form-control mb-2" name="email" placeholder="Email">
                <input type="password" class="form-control mb-2" name="password" placeholder="Password">
                <button class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-6">
            <h3>Login</h3>
            <form action="/auth/login" method="post">
                <input type="email" class="form-control mb-2" name="email" placeholder="Email">
                <input type="password" class="form-control mb-2" name="password" placeholder="Password">
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
<% } %>

<%- include("partials/bottom.ejs") %>